<div class="note-status-panel" cdkDropListGroup>
  <div class="note-status-panel__column_stopped" cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListData]="statusNotesService.pendingNotes">
    <p class="note-status-panel__column_stopped_tittle">PENDING</p>
    <app-status-note [notes]="statusNotesService.pendingNotes"></app-status-note>
  </div>
  <div class="note-status-panel__column_active" cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListData]="statusNotesService.activeNotes">
    <p class="note-status-panel__column_active_tittle">ACTIVE</p>
    <app-status-note [notes]="statusNotesService.activeNotes"></app-status-note>
  </div>
  <div class="note-status-panel__column_finished" cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListData]="statusNotesService.doneNotes">
    <p class="note-status-panel__column_finished_tittle">DONE</p>
    <app-status-note [notes]="statusNotesService.doneNotes"></app-status-note>
  </div>
</div>
