.add-panel__inputs{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 45px;
  width: calc(100% - 40px);
}
.add-panel__inputs_tittle, .add-panel__inputs_content{
  width: 100%;
  background-color: #3e454c;
  color: #ff7f66;
  margin-bottom: 10px;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 16px;
  padding-bottom: 5px;
  border-bottom: solid 4px #6a7783;
}
.add-panel__inputs_submit{
  display: inline-block;
  background-color: #2c3136;
  border-radius: 5px;
  color: #ff7f66;
  padding: 14px;
  font-weight: normal;
  border: none;
}
.add-panel__inputs_submit:hover{
  color: rgb(255, 255, 255);
  background-color: #ff7f66;
}
.add-panel__inputs_submit, .add-panel__inputs_submit:active, .add-panel__inputs_submit:focus {
  outline: none;
}
