
.todolist{
  position: absolute;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  height: 85%;
  width: 85%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  margin: auto;
  border-radius: 3px;
}
.calendar-component{
  position: relative;
  width: 80%;
  height: 100%;
  background-color: #f3f3f3;
  border-radius: 7px 0px 0px 7px;
}
.events-component{
  position: relative;
  width: 20%;
  height: 100%;
  background-color: #3e454c;
  border-radius: 0px 7px 7px 0px;
}
