
.date{
  display: flex;
  display: -webkit-flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  margin-top: 10px;
}
.date__previous-year, .date__next-year{
  color: #ff7f66;
  font-size: 18px;
  font-weight: bold;
}
.date__current-date{
  color: #6a7783;
  font-weight: bold;
  font-size: 22px;
}
.month-selector{
  font-size: 30px;
  border: none;
  background-color: #f3f3f3;
}
.month-selector:focus{
  outline: none;
  border: none;
}
.month-selector_element{
  text-align: center;
  background-color: #f3f3f3;
  outline: none;
}

.year-selector{
  background-color: #f3f3f3;
  font-size: 30px;
  border: none;
  width: 100px;
  margin-left: 30px;
}
.year-selector:focus{
  outline: none;
}
.calendar-component__buttons{
  margin: 0 auto;
  position: absolute;
  width: 70%;
  right: 0;
  left: 0;
  bottom: 35px;
}
.buttons_events, .buttons_reminder{
  display: inline-block;
  background-color: #3e454c;
  border-radius: 5px;
  color: #ff7f66;
  padding: 14px;
  font-weight: normal;
  border: none;
}
.buttons_events{
  margin-right: 25px;
}
.buttons_events_clicked{
  color: rgb(255, 255, 255);
  background-color: #ff7f66;
}
.buttons_events:hover, .buttons_reminder:hover{
  color: rgb(255, 255, 255);
  background-color: #ff7f66;
}
.buttons_events, .buttons_events:active, .buttons_events:focus,
.buttons_reminder, .buttons_reminder:active, .buttons_reminder:focus
{
  outline: none;
}
