<div class="date">
  <p class="date__previous-year">{{calendarDate.getYear() - 1}}</p>
  <p class="date__current-date">
    <select class="month-selector"  (change)="changeMonthListener($event.target.options.selectedIndex)">
      <option class="month-selector_element" *ngFor="let month of months; let i = index" [selected]="isSelectedAttribute(i)">
        {{month}}
      </option>
    </select>
    <input class="year-selector" type="number" value="{{calendarDate.getYear()}}" (change)="changeYearListener($event.target.value)">
  </p>
  <p class="date__next-year"> {{calendarDate.getYear() + 1}}</p>
</div>
<app-days [attr.hidden]="!showCalendarFlag ? true : null"></app-days>
<app-charts [attr.hidden]="!showChartFlag ? true : null"></app-charts>
<app-note-status-panel [attr.hidden]="!showDayNotesStatusesFlag ? true : null"></app-note-status-panel>
<div class="calendar-component__buttons">
  <button class="buttons_events" [ngClass]="{'buttons_events_clicked': showCalendarFlag}" (click)="clickShowCalendarButtonListener()">CALENDAR</button>
  <button class="buttons_events" [ngClass]="{'buttons_events_clicked': showChartFlag}" (click)="clickShowChartsButtonListener()">CHARTS</button>
  <button class="buttons_events" [ngClass]="{'buttons_events_clicked': showDayNotesStatusesFlag}" (click)="clickShowNotesStatusesButtonListener()">NOTES STATUSES</button>
</div>

