<a class="log-in_href" routerLink="/logIn">Log In</a>
<form [formGroup]="signUpForm" (ngSubmit)="sendButtonClickListener()" class="sign-up__form">
  <h1 class="sign-up__form__header">SignUp Form</h1>
  <div class="sign-up__form__input">
    <input class="sign-up__form__input_first-name" type="text" placeholder="First name" formControlName="firstName">
    <div class="sign-up__form__input_warning" *ngIf="signUpForm.controls['firstName'].invalid && signUpForm.controls['firstName'].touched">Please, enter first name</div>
  </div>
  <div class="sign-up__form__input">
    <input class="sign-up__form__input_last-name" type="text" placeholder="Last name" formControlName="lastName">
    <div class="sign-up__form__input_warning" *ngIf="signUpForm.controls['lastName'].invalid && signUpForm.controls['lastName'].touched">Please, enter last name</div>
  </div>
  <div class="sign-up__form__input">
    <input class="sign-up__form__input_login" type="text" placeholder="Login" formControlName="login">
    <div class="sign-up__form__input_warning" *ngIf="signUpForm.controls['login'].invalid && signUpForm.controls['login'].touched">Please, enter login</div>
  </div>
  <div class="sign-up__form__input">
    <input class="sign-up__form__input_password" type="password" placeholder="Password" formControlName="password">
    <div class="sign-up__form__input_warning" *ngIf="signUpForm.controls['password'].invalid && signUpForm.controls['password'].touched">Please, enter password</div>
  </div>
  <div class="sign-up__form__input">
    <input class="sign-up__form__input_re-password" type="password" placeholder="Repeat password" formControlName="rePassword">
    <div class="sign-up__form__input_warning" *ngIf="signUpForm.controls['rePassword'].invalid && signUpForm.controls['rePassword'].touched">Please, confirm password</div>
  </div>
  <div class="sign-up__form__input">
    <input class="sign-up__form__input_email" type="email" placeholder="Email" formControlName="email">
    <div class="sign-up__form__input_warning" *ngIf="signUpForm.controls['email'].invalid && signUpForm.controls['email'].touched">Please, enter email</div>
  </div>
  <div class="sign-up__form__input">
    <button class="sign-up__form__input_submit" [disabled]="signUpForm.invalid">Submit</button>
  </div>
</form>

