@import url(../styles/scrollbar.css);
.notes__header{
  width: 100px;
  margin: 10px auto 0;
  padding-bottom: 16px;
  border-bottom: solid 4px #6a7783;
  color: #ff7f66;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
}
.notes__date{
  display: flex;
  flex-direction: row;
}
.notes__date_previous, .notes__date_next{
}
.notes__date_next_icon{
  margin-top: 10px;
  margin-right: 10px;
  height: 20px;
  width: 30px;
  cursor: pointer;
}
.notes__date_previous_icon{
  margin-top: 10px;
  margin-left: 10px;
  transform: scaleX(-1);
  height: 20px;
  width: 30px;
  cursor: pointer;
}
.notes__date_current{
  font-weight: normal;
  font-size: 18px;
  color: #ff7f66;
  margin: 10px auto 0;
  text-align: center;
}
.notes__current-notes{
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 100px;
  bottom: 100px;
  overflow: auto;
}
.note__day-note_empty{
  margin: 45px 20px 20px;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  color: #6a7783;
}
.notes__buttons{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 35px;
  margin: 0 20px;
}
.notes__buttons_exit, .notes__buttons_add{
  display: inline-block;
  background-color: #2c3136;
  border-radius: 5px;
  color: #ff7f66;
  padding: 14px;
  font-weight: normal;
  border: none;
}
.notes__buttons_exit{
  margin-right: 25px;
}
.notes__buttons_exit:hover, .notes__buttons_add:hover{
  color: rgb(255, 255, 255);
  background-color: #ff7f66;
}
.notes__buttons_exit, .notes__buttons_exit:active, .notes__buttons_exit:focus,
.notes__buttons_add, .notes__buttons_add:active, .notes__buttons_add:focus
{
  outline: none;
}
