<div class="notes__header">EVENTS</div>
<div class="notes__date" (mouseenter)="showChangeDatePanel()" (mouseleave)="closeChangeDatePanel()">
  <div class="notes__date_previous" [hidden]="!showChangeDatePanelFlag? true: null">
    <img (click)="clickPreviousDateButtonListener()" class="notes__date_previous_icon" src="./assets/images/next-date-icon.png">
  </div>
  <div class="notes__date_current">{{calendarDate.getFormatDate('D MMMM YYYY')}}</div>
  <div class="notes__date_next" [hidden]="!showChangeDatePanelFlag? true: null">
    <img (click)="clickNextDateButtonListener()" class="notes__date_next_icon" src="./assets/images/next-date-icon.png">
  </div>
</div>
<div class="notes__current-notes">
  <p class="note__day-note_empty" *ngIf="dayNotesService.dayNotes.length==0">There is not planned notes</p>
  <app-note [note]="note"  *ngFor="let note of dayNotesService.dayNotes"></app-note>
  <app-add-note-panel [style.display]="showAddNotePanel" [currentDateNumber]="calendarDate.getTime()"></app-add-note-panel>
</div>
<div class="notes__buttons">
  <button class="notes__buttons_exit" (click)="exit()">EXIT</button>
  <button class="notes__buttons_add" (click)="clickAddButtonListener()">+</button>
</div>
